<%- include('header'); -%>

<section class="booking bookingPage">
    <div class="ticket">
    

        <form method="GET" action="/addDetails" class="bookbox">
            <p class="line-1 headingInfo">DETAILS</p>
            <label for="exampleInputEmail1" class="form-label mlInfo">Train Number: </label>
            <label for="exampleInputEmail1" class=" ml form-label">Train Name:</label>
            <div class="sameLine">
                <input class="form-control" name="train_no" type="text" value="<%= data1.t_no %>" aria-label="Disabled input example" readonly>
                <input class="form-control" name="train_name" type="text" value="<%= data1.t_name %>" aria-label="Disabled input example" readonly>
            </div>
            
            <label for="exampleInputEmail1" class="form-label mlInfo">On:</label>
            <label for="exampleInputEmail1" class="ml form-label" style="margin-left: 31.2rem;" >No. of passengers:</label> 
            <div class="sameLine"> 
                <input class="form-control" name="date" type="text" value="<%= data1.date %>" aria-label="Disabled input example"readonly>
                <input class="form-control" name="nop" type="text" value="<%= nop %>" aria-label="Disabled input example"readonly>
            </div>
                    
            <label for="exampleInputEmail1" class="form-label mlInfo">Source:</label>
            <label for="exampleInputEmail1" class="ml form-label" style="margin-left: 29.5rem;">Destination:</label>
            <div class="sameLine">
                <input class="form-control" name="source" type="text" value="<%= data1.from %>" aria-label="Disabled input example"readonly>  
                <input class="form-control" name="destination" type="text" value="<%= data1.to %>" aria-label="Disabled input example"readonly>
            </div>

            <label for="exampleInputEmail1" class="form-label mlInfo">Arrival:</label>
            <label for="exampleInputEmail1" class="ml form-label" style="margin-left: 29.6rem;">Departure:</label>
            <div class="sameLine">
                <input class="form-control" name="arrival" type="text" value="<%= data1.Arrival %>" aria-label="Disabled input example"readonly>
                <input class="form-control" name="departure" type="text" value="<%= data1.Departure %>" aria-label="Disabled input example"readonly>
            </div>
            <button type="submit" name="submit" value="<%= ticketid %>" class="btn btn-dark m-2">Continue</button>

        </form>

    </div>
</section>








<%- include('footer'); -%>