<%- include('header'); -%>

<section class="pnrPage">
    <div class="item itemTable">
        <p class="line-1 headingInfo">TRAIN STATUS</p>
        <p>
           <span style="margin-left: 1%;" class="pnrText"> Train no: <%= data.train_no %> </span>
           <span style="margin-left: 29.5%;" class="pnrText"> Train name: <%= data.train_name %> </span> 
        </p>
    
        <p>
           <span style="margin-left: 1%;" class="pnrText"> Departure: <%= data.Departure %> </span>
           <span style="margin-left: 28.8%;"class="pnrText"> Arrival: <%= data.Arrival %> </span>
        </p>
        
        <p>
           <span style="margin-left: 1%;" class="pnrText">  Source: <%= data.source %> </span>
           <span style="margin-left: 30.8%;" class="pnrText"> Destination: <%= data.destination %> </span>
        </p>
        
        <p>
            <span style="margin-left: 1%;" class="pnrText"> Status: <%= data.status %></span>
            
        </p>
       
     </div> 
    <form action="/cancel" method="post">
      
            <button type="submit" value="<%= data._id %>"  name="submit" style="margin-left:15%;" class="btn btn-dark mt-2 prnText" >Cancel ticket</button>
    </form>

</section>
 <%- include('footer'); -%>