<%- include('header'); -%>

    <div class="item">
        <p>Train no: <%= data.train_no %></p>
        <p>Train name: <%= data.train_name %></p>
        <p>Departure: <%= data.departure %></p>
        <p>Arrival: <%= data.arrival %></p>
        <p>Source: <%= data.source %></p>
        <p>Destination: <%= data.destination %></p>
        <p>Status: <%= data.status %></p>
        <p>id: <%= data._id %></p>
     </div> 
    <form action="/cancel" method="post">
        <button type="submit" value="<%= data._id %>" name="submit">Cancel ticket</button>
    </form>
 <%- include('footer'); -%>