<%- include('header'); -%>

<section class="mytrains showtrainsImg">
    <div class="list" align="center">
        <h1>Available Trains</h1>
        <h3><%= source %> <i class="fa fa-arrow-right" aria-hidden="true"></i> <%= destination %> </h3>
        <table class="table" style="width: 80%; margin-top: 30px;" >
            <thead align="center">
              <tr>
                <th scope="col">Train number</th>
                <th scope="col">Train name</th>
                <th scope="col">Departure</th>
                <th scope="col">Arrival</th>
                <th scope="col">Price</th>
                <th scope="col">Type</th>
                <th scope="col">Seats available</th>
                <th scope="col">Book ticket</th>
              </tr>
            </thead>
            <tbody align="center">
        <% for(var i=0; i<newis.length; i++) { %>
          <form action="/details" method="post">
        
                <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= newis[i].t_no %></td>
                    <td><%= newis[i].t_name %></td>
                    <td><%= newis[i].Arrival %></td>
                    <td><%= newis[i].price%></td>
                    <td><%= newis[i].type %></td>
                    <td><%= newis[i].Seats %></td>
                    <td><button class="btn btn-primary" type="submit" name="submit" value=<%= newis[i].t_no %>>Book</button></td>
                  </tr>
                   
                
            </form>
                 
           <% } %> 
        </tbody>
    </table>
        
    </div>
</section>

<%- include('footer'); -%>